:root {
    --blue: #00B8A9;
    --pink: #F6416C;
    --yellow: #FFDE7D;
    --beige: #F8F3D4;
    --brown: #49301c;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.header, 
.cell, 
.popup-bg, 
.grid-wrap,
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main   {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header {
    flex-direction: column;
    padding: 40px 0px;
    margin-bottom: 30px;
    width: 100vw;
    background-color: #00B8A9;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1rem;
    text-shadow: 5px 5px black;
    text-align: center;
}

.grid-wrap {
    width: 100vw;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 500px;
    width: 500px;
    background-color: #fff;
    border: var(--yellow) 10px solid;
    /* box-shadow: var(--pink) 0px 0px 50px 5px; */
}

.grid > * {
    border: var(--yellow) 1px solid ;
}

.cell {
    font-size: 130px;
    color: var(--pink);
    text-shadow: 8px 5px black;
}

.circle {
    color:var(--blue);
}

.popup-bg {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #000000b6;
}

.popup {
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    width: 500px;
    background-color: var(--beige);
    border-radius: 20px;
    border: 10px solid var(--blue);
    text-align: center;
}
 
.winner-name {
    font-size: 50px;
    margin-bottom: 2rem;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--pink);
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
}

button:hover {
    cursor: pointer;
    box-shadow: 5px 5px black;
}